# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Virtual environments
env/
venv/

# Django-specific files
db.sqlite3
*.sqlite3

# Static and media files
/static/
/media/

# Local environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS-specific files
.DS_Store

# Linux-specific files
*.swp
